# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/

# Distribution / packaging
.Python
dist/
build/
*.egg-info/

# Editor
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
